/* CSS Reset */

*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* Generics */

body
{
    font-family:PT sans;
}

main
{
    padding-top:130px;
}

main>section:nth-child(even)
{
    background-color:#9792E4;
}

/* Utils */

.container
{
    max-width:400px;
    margin:auto;
}

.flex
{
    display:flex;
}

/* Header */

header
{
    position:fixed;
    z-index:1;
    background-color:#0084FD;
    height:80px;
    width:100%;
    color:white;
    font-size:25px;
}

header .container
{
    justify-content:space-between;
    align-items:center;
    height:100%;
}

.nav-menu
{
    display:none;
}

.nav-menu ul
{
    list-style-type:none;
    display:flex;
}

.nav-menu a
{
    color:white;
    text-decoration:none;
    font-size:20px;
    padding:0 10px;
}

.nav-menu .button
{
    background-color:white;
    color:black;
    margin-left:10px;
    padding:8px 15px;
    border-radius:20px;
}

/* First section */

.application .row
{
    flex-wrap:wrap;
}

.application .column
{
    flex-basis:100%;
    padding:10px;
}

.application .card
{
    background-color:#B5DDFF;
    border-radius:20px;
    min-height:300px;
    width:100%;
}

/* Second section */

.planning .container
{
    padding:50px 0;
}

.planning-left
{
    min-height:500px;
}

.planning-right
{
    background-color:white;
    border-radius:30px;
    min-height:300px;
}

/* Third section */

.testimonials .card
{
    height:200px;
    border-radius:20px;
    background-color:#9792E4;
    margin-top:50px;
}

/* Fourth section */

.benefits
{
    padding:50px 0;
    margin-top:50px;
}

.benefits .row
{
    flex-wrap:wrap;
}

.benefits .column
{
    flex-basis:100%;
    padding:10px;
}

.benefits .card
{
    height:300px;
    width:100%;
    background-color:white;
    border-radius:20px;
}

/* Responsive */

@media screen and (min-width: 768px) 
{
    .container 
    {
      max-width:700px;
    }

    .application .column:first-child
    {
        flex-basis:calc(100% / 3 * 2);
    }

    .application .column
    {
        flex-basis:calc(100% / 3);
    }

    .benefits .column
    {
        flex-basis:50%;
    }
}

@media screen and (min-width: 1200px) 
{
    .container 
    {
      max-width:1000px;
    }

    .hamb-menu
    {
        display:none;
    }

    .nav-menu
    {
        display:block;
    }

    .planning .container
    {
        display:flex;
        padding:30px 100px;
        align-items:flex-end;
    }

    .planning-left
    {
        flex-basis:50%;
    }

    .planning-right
    {
        height:200px;
        flex-basis:50%;
    }

    .benefits .column
    {
        flex-basis:calc(100% / 3);
    }
}